body {
  background-color: rgb(240,243,252);
  color: rgb(10,9,8);
}

div.blank_m {
    height: 50px;
}

div.blank_s {
  height: 25px;
}

div.container { 
    align-items: center;
    text-align: center;
}
  
  

#WHOAMI {
        font-family: helvetica;
        font-size: 50px;
        line-height: 20px; 
        text-align: center;
      }
#ABOUTME {
        font-family: helvetica;
        font-size: 30px;
        line-height: 20px; 
        text-align: center;
}

#standard {
        font-family: helvetica;
        font-size: 20px;
        line-height: 20px; 
}


p.sansserif_large {
        font-family: helvetica;
        font-size: 30px;
        line-height: 20px; 
}

a:link, a:visited {
  background-color: rgb(240,243,252);
  color: rgb(10,9,8);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(196,77,53);
  color: rgb(222,230,252);

}

img.one {
  height: auto;
}
