body {
  background-color: rgb(14,24,50);
  color: rgb(237,238,243);
}

div.blank {
    height: 50px;
}

#WHOAMI {
        font-family: helvetica;
        font-size: 50px;
        line-height: 20px; 
        text-align: center;
      }
#ABOUTME {
        font-family: helvetica;
        font-size: 30px;
        line-height: 20px; 
        text-align: center;
}

#standard {
        font-family: helvetica;
        font-size: 20px;
        line-height: 20px; 
}

p.sansserif_large {
        font-family: "Helvetica Neue",helvetica,arial,sans-serif;
        font-size: 30px;
        line-height: 20px; 
}

ul.sansserif {
        font-family: "Helvetica Neue",helvetica,arial,sans-serif;
        font-size: 20px;
        line-height: 20px; 
}
