<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
              {% if post.link %}
              <li>Link:
                <a href={{ post.link }} target="blank">
                  <strong>{{ post.link_text }}</strong>
                </a>
              </li>
              {% endif %}
            </ul>

            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}

            {% if post.img2 %}
            <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered" alt="{{ post.alt2 }}">
            {% endif %}

            {% if post.yt_link %}
            <div class="img-responsive img-centered" class="video-responsive">
              <iframe width=100% height="400px" margin="auto" src={{ post.yt_link }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <script>
                // Get the YouTube player element
                const player = document.getElementById('ytplayer');
            
                // Add an event listener for the scroll event
                window.addEventListener('scroll', function() {
                  // Check if the video is visible in the viewport
                  const rect = player.getBoundingClientRect();
                  const isVisible = rect.top >= 0 && rect.left >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && rect.right <= (window.innerWidth || document.documentElement.clientWidth);
            
            
                  
            // If the video is visible, play it; otherwise, pause it
                  if (isVisible) {
                    player.playVideo();
                  } else {
                    player.pauseVideo();
                  }
                });
              </script>
            </div>
            {% endif %}

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <!-- <i class="fa fa-times"></i> -->
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
