<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="center-paragraph">
        <p>
          I am an engineer with experience in Thermal Hydraulics, Machine Learning, and High-Performance Computing.
          I currently work as a Thermal Hydraulics Engineer at the Naval Nuclear Laboratory.
          <br><br>
          I am also a part time graduate student in the Computational Modeling and Simulation Program at the University of Pittsburgh.
          My areas of interest are Optimization, Machine Learning, and Quantum Computing. 
          My advisors are Drs. Peyman Givi and Masoud Barati.
          <br><br>
          I am familiar with many languages, frameworks, and tools, such as: 
            Python (PyTorch, PyTorch-Lightning, Qiskit, Pennylane),
            C/C++, Fortran, OpenMP, 
            SLURM, Linux/Unix systems, 
            Jira, Bitbucket, Jenkins,
            and more.
          <br><br>
          My other interests include quantitative finance, automobile racing, and music production. 
          <br><br>
          I also hold a Bachelor's in Mechanical Engineering from Purdue University.
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="img/Wu_Jorgen_Resume.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> My Resume
        </a>
      </div>
    </div>
  </div>
</section>